<head>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/MasterPageLogado.css"/>
    <link rel="stylesheet" href="/CSS/default.css"/>
</head>
<body>
    @RenderBody()
    <nav class="cadastro-nav">
        <a href="/Tarefa/Cadastrar">Criar Tarefa</a> 
        <a href="/Transacao/Cadastrar">Cadastrar Transação</a> 
        <a href="/Transacao/Mostrar">Mostrar Transações</a>
        <a href="/Transacao/Mostrar">Mostrar Tarefas</a>
    </nav>
</body>