<head>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/default.css"/>
</head>
<body>
    @RenderBody()
    <nav class="cadastro-nav">
        <a href="/Usuario/Cadastrar">Cadastrar-se</a> 
        <a href="/Usuario/Login">Logar</a>
        <a href="" onclick="alert('Nem ligo ;-; problema é seu')">Esqueceu sua senha?</a>
    </nav>
</body>
