<head>
    <link rel="stylesheet" href="/CSS/MasterPageLogado.css"/>
</head>
<body>
    @RenderBody()
    <nav class=cadastro-nav>
        <a href="/Tarefa/Cadastrar">Criar Tarefa</a> 
        <a href="/Transacao/Cadastrar">Cadastrar Transação</a> 
        <a href="/Transacao/Mostrar">Mostrar Transações</a>
        <a href="/Transacao/Mostrar">Mostrar Tarefas</a>
    </nav>
</body>