<head>
    <link rel="stylesheet" href="/CSS/MasterPageLogado.css"/>
</head>
<body>
    @RenderBody()
    <nav class=cadastro-nav>
        <a href="/Transacao/Cadastrar">Cadastrar transação</a> 
        <a href="/Transacao/Mostrar">Logar</a>
    </nav>
</body>