<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/CSS/default.css">
    <meta charset="utf-8" />
    <title>Cadastro Transações</title>
</head>
<body class="flex-column">
    <section>
        <h1>Cadastrar Transação</h1>
        <p>@ViewBag.Mensagem</p>   
        <form action="/Transacao/Cadastrar" method="POST" class="flex-column">
            <label>Descrição da Transação :
                <input type="text" name = "Descricao" required>
            </label>
            <label>Valor (R$) :
                <input type="number" name="Valor" required>
            </label>
            <label>Tipo de transação</label>
                <label>
                    <input type="radio" name ="TipoTransacao" value = "Despesa" checked> Despesa
                    <input type="radio" name ="TipoTransacao" value = "Receita"> Receita
                </label>
            <label>Data Da transação :
                <input type="date" name="DataTransacao" required>
            </label>
            <input id = "btn" type="submit" value="Enviar">
        </form>
    </section>
</body>
</html>