/*Abstrato*/
*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    font-size: 14px;
    color:white;
    font-family: 'Source Code Pro', monospace;
    background-color: #090f35;
}

.flex-column{
    margin:0px auto;
    display:flex;
    flex-direction: column;
}

/*Header*/
section h1{
    font-size: 1.3em;
    margin:1em 0em;
    text-align: center;
}

/*Formulario*/
form{
    border: 2px solid white;
    width: 25em;
    padding: 1em;
    align-items: center;
}

form *{
    width: 100%;
    margin:0.35em 0em;
}

form input{
    border: 3px solid white;
}

form input:hover , form input:focus{
    border-color:rgba(255, 255, 255, 0.445);
    color:rgba(255, 255, 255, 0.445);
}

/*Links Pagina Deslogado*/
.cadastro-nav{
    margin: 1em auto;
}

.cadastro-nav > a{
    text-decoration: none;
}

.cadastro-nav a:hover , .cadastro-nav a:focus{
    font-weight: 800;
}
