<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @{
        Layout = "MasterPageLogado";
    }
    <title>Criar Tarefas</title>
</head>
<body >
section.
    <form action="Tarefa\Criar" method="POST">
        <label> 
            Nome : <input type="text" name="Nome">
        </label>
        <label>
            Descrição : <Textarea name="Descricao" maxlength="300" required></Textarea>
        </label>
        <label> 
            Status :     
            <label>   
                <input type="radio" name="Status" value="Para Fazer"> Para Fazer
            </label>
            <label>   
                <input type="radio" name="Status" value="Fazendo"> Fazendo
            </label>
            <label>   
                <input type="radio" name="Status" value="Concluido"> Concluido
            </label>
        </label>
        <label>Data de entrega :
            <input type="date" name="Data">
        </label>
    </form>
</body>
</html>