<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar Tarefas</title>
</head>
<body class="console">
    <form action="Tarefa\Criar" method="POST">
        <label> Descrição
            <Textarea name="description" maxlength="300"></Textarea>
            
        </label>
    </form>
</body>
</html>