<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar Tarefas</title>
    <link rel="stylesheet" href="/CSS/CriarTarefa.css"/>
    @{
        Layout = "MasterPageLogado";
    }
</head>
<body class="flex-column">
    <section>
        <h1>Criar Tarefas</h1>
        <p>@ViewBag.Mensagem</p>
        <form action="\Tarefa\Criar" method="POST" class="flex-column">
            <label> 
                Titulo<input type="text" name="Titulo" required>
            </label>
            <label>
                Descrição<Textarea name="Descricao" maxlength="500" required></Textarea>
            </label>
            <label>Status</label>   
            <div id="radio-group">
                <label>   
                    <input type="radio" name="Status" value="Para Fazer" checked> Para Fazer
                </label>
                <label>   
                    <input type="radio" name="Status" value="Fazendo"> Fazendo
                </label>
                <label>   
                    <input type="radio" name="Status" value="Concluido"> Concluido
                </label>
            </div>
            <label>Data de entrega
                <input type="date" name="Data">
            </label>
            <input id = "btn" type="submit" value="Criar Tarefa">
        </form>
    </section>
</body>
</html>