<!DOCTYPE html>
<html>
<head>
    <title>Mostrar Tarefas</title>
    <link rel="stylesheet" href="/CSS/default.css">
    @{
        Layout = "MasterPageLogado";
    }
</head>
<body class="flex-column">
    <section>
        <h1>Em construção</h1>
    </section>
</body>
</html>