@{
    Layout = "MasterPageDeslogado";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cadastrar Usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="flex-column">    
    <section>
        <h1>Cadastrar Usuario</h1>
        @ViewBag.Mensagem
        <form action = "/Usuario/Cadastrar" method="POST" class="flex-column">
            <label>Nome
                <input type="text" maxlength="30" name = "Nome">
            </label>
            <label>Email
                <input type="email" name="Email">
            </label>
            <label>Senha
                <input type="text" minlength="8" name = "Senha">
            </label>
            <label>Data De Nascimento
                <input type="date" name="DataNascimento">
            </label>
            <input id = "btn" type="submit" value="Enviar">
        </form>
    </section>
</body>
</html>