@using Web_TesteCadastroMVC.Models;
<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <title>Pagina Inicial</title>
    @{
        Layout = "MasterPageLogado";
    }  
</head>
<body class="flex-column">
    <section>
        <h1>
            @ViewBag.Mensagem
        </h1>
        <h1>O Que deseja fazer?</h1>

        <p id="hidden" class="flex-column">
                Ele diz coisas que os adultos esquecem <br>
                E que as crianças não tem palavras para descrever
            </p>
        
            @if((ViewData["UsuarioLogado"] as Usuario).Tipo == "Administrador"){
                <nav class="flex-column">
                    <h2>Comandos Administrador</h2>
                    <a href="/Usuario/Mostrar">Mostrar Usuarios</a>
                </nav>
            }
    </section>
    
</body>
</html>