@{
    Layout = "MasterPageDeslogado";
}
<!DOCTYPE html>
<html>
<head>
    <title>Login Usuario</title>
</head>
<body class="flex-column">
    <section>
        <h1>Logar Usuario</h1>
        @ViewBag.Mensagem
        <form action="/Usuario/Login" method = "POST" class="flex-column">
            <label> Email 
                <input type="email" name="Email" maxlength="30" placeholder="email@provedor.com">
            </label>
            <label>Senha
                <input type="password" minlength="8" name = "Senha" placeholder="Senha">
            </label>
            <input id="btn" type="submit" value="Enviar">
        </form>
    </section>
</body>
</html>