@{
    Layout = "MasterPageDeslogado";
}
<!DOCTYPE html>
<html>
<head>
    <title>Login Usuario</title>
</head>
<body>
    <h1>Logar Usuario</h1>
    <div class="fundo">
        @ViewBag.Mensagem
        <form action="/Usuario/Login" method = "POST">
            <label> Email 
                <input type="email" name="Email" maxlength="30" placeholder="email@provedor.com">
            </label>
            <label>Senha
                <input type="password" minlength="8" name = "Senha" placeholder="Senha">
            </label>
            <input id="btn" type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>